* text=auto
*.md text eol=lf
*.go text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.tf text eol=lf
*.sh text eol=lf
*.docx binary
*.png binary
*.jpg binary
*.jpeg binary
