<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.fasttourney.dev-account-purge</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/docker</string>
    <string>exec</string>
    <string>tournaments-manager-dev-api-1</string>
    <string>/api</string>
    <string>purge-expired-accounts</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>3</integer>
    <key>Minute</key>
    <integer>15</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__LOG_DIRECTORY__/account-purge.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIRECTORY__/account-purge-error.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
