{
  "applinks": {
    "details": [
      {
        "appIDs": [
          "APPLE_TEAM_ID.com.fasttourney.app.dev"
        ],
        "components": [
          {
            "/": "/link/*"
          },
          {
            "/": "/join-team"
          },
          {
            "/": "/tournament/*"
          }
        ]
      }
    ]
  },
  "webcredentials": {
    "apps": [
      "APPLE_TEAM_ID.com.fasttourney.app.dev"
    ]
  }
}
